body {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

main {
  margin: 5rem 8.33%;
  width: calc(100% - 16.66%);
}

.login-form,
.register-form {
  background-color: hsl(0, 0%, 100%);

  width: 25%;

  padding: 2em 4em;
}

.form-header {
  color: purple;

  font-size: 2rem;
  text-align: center;

  width: 100%;
  padding-bottom: 1em;
}

input#username,
input#password {
  width: 100%;
  height: 2em;

  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 0.25em;
}

.login-form button,
.register-form button {
  margin-top: 2rem;
}
