main {
  margin: 5rem 8.33%;
  width: calc(100% - 16.66%);
}

.edit-profile-form {
  background-color: hsl(0, 0%, 100%);

  margin: 0 16.66%;
  padding: 2em 4em;
}

.form-header {
  color: purple;

  font-size: 2rem;
  text-align: center;

  width: 100%;
  padding-bottom: 1em;
}

input,
textarea {
  width: 100%;
  height: 2em;

  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 0.25em;
}

textarea {
  height: unset;
}

.edit-profile-form button {
  margin-top: 2rem;
}

fieldset {
  border: none;
}

fieldset#full-name {
  width: 100%;

  display: flex;
  flex-direction: row;
}

fieldset#full-name .field:not(:last-child) {
  padding-right: 2em;
}
